In [27]:
print("hello world")#string

hello world

In [28]:
print("123")#integer/float #in inverted comaas it treated as string

123

In [29]:
print(123,"hello")#both

123 hello

In [30]:
print(2.8)#float

2.8

In [31]:
type("hello")#to find data type?

str

In [32]:
type(123)

int

# Variables

In [33]:
name = "Arsalan"

In [34]:
print(name)#to call Arsalan

Arsalan

In [35]:
name = "KT boy"

In [36]:
print(name)#for over write

KT boy

In [37]:
id(name)

1326693846240

In [38]:
number=5

In [39]:
print(number)

5

In [40]:
no_1=5
no_2=19

In [41]:
no_1+no_2

24

In [42]:
print("arsalan",123,456)#shift+tab give the function of command e.g print

arsalan 123 456

In [43]:
print("ths is our first class")
print("ths is 2nd line")

ths is our first class
ths is 2nd line

In [44]:
print("ths is our first class",end=" **")#to end= is used to continue line otherwise it will use \ln by default
print("ths is 2nd line")

ths is our first class **ths is 2nd line

# 18 may,2019

In [45]:
age=30
name = "Arsalan"
print("my name is " +name+ " and my age is"+str(age)) #this is one line #type casting

my name is Arsalan and my age is30

In [46]:
age=30
name = "Arsalan"
print("my name is " ,name, " and my age is",age)

my name is  Arsalan  and my age is 30

In [47]:
age=int(input("enter your age:")) #input on run time ,,#casting type
name=input ("your name:")
print("my name is " +name+ " and my age is "+str(age))

enter your age:22
your name:qr
my name is qr and my age is 22

In [48]:
age=int(input("enter your age:")) #to check type
type(age)

enter your age:12

int

# string formating using python's .format()

In [49]:
age=input("enter your age:")
name=input ("your name:")
print("my name is {} and my age is {}".format(name,age)) #{} called place holder

enter your age:12
your name:ae
my name is ae and my age is 12

In [50]:
age=input("enter your age:")
name=input ("your name:")
print("my name is {1} and my age is {0}".format(name,age)) #giving no. e.g 0 & 1 called indexing by default uses sequence

enter your age:12
your name:aw
my name is 12 and my age is aw

# string formating using python's f

In [51]:
print(f"my name is {name} and my age is {age}")

my name is aw and my age is 12

# Mathematic expression

In [52]:
4/2 #ansr come in float

2.0

In [53]:
print(10/3) #in float

3.3333333333333335

In [54]:
print(10//3) #convert in integer

3

In [55]:
10%3 #% give remainder

1

In [56]:
age=20
age=age+10 #increment
age

30

In [57]:
age=40
age+=10 #we also can do * / -
age

50

# if statement

In [58]:
10>12

False

In [59]:
10==10

True

In [60]:
10!=10 #not equal to

False

In [61]:
num1=input("enter num1")
num2=input("enter num2")
if num1>num2:
    print("if chal gya h")
else:
    print("else chl gya h")

enter num11
enter num22
else chl gya h

In [62]:
num=input("entr your no.") #even odd program
rem=int(num)%2
if rem==0:
    print("no. is even")
else:
    print("no. is odd")

entr your no.2
no. is even

# else and elif statements

In [63]:
age=int(input("entr your age"))
ticket=input("do u have ticket")
if age>=18:
    print("age is valid")
    if ticket=="yes":
        print("ticket ok")
else:
    print("you can not entr")

entr your age1
do u have ticketw
you can not entr

In [64]:
nic=input("do you have nic " )

if nic=="yes":
    print("nic ok")
    VI=input( "have name in voter list? ")    
    if VI=="yes":
        print("you are eligible")
    else:
        print("name is not inlisted")
else:
    print("not eligible")

do you have nic 12
not eligible

In [65]:
exp=input("do you have experience for this job " )

if exp=="yes":
    print("you are selected")
elif:
    sifarish=input("koi parchi h? ")
    if sifarish="yes"
        print("you are eligible")
    else:
        print("name is not inlisted")
else:
    print("not eligible")

SyntaxError: invalid syntax (<ipython-input-65-8c9fa963bad5>, line 5)

In [ ]:
a=b=c=d=10 #all if will be excuted one by one
if a==b:
    print("hello ")
if b==c:
    print("hi")
if c==d:
    print("hola")

In [ ]:
x=input("entr no:  ")
a=b=c=d=0 #Nested if , next if depend on previous
if a<=b:
    print("hello ")
    if b>=c:
        print("hi")
        if c==d:
            print("hola")

# cnic_status=input("do u have a valid cnic  ")

In [ ]:
cnic_status=input("do u have a valid cnic  ").lower() #if user type "YES" it will convert in "yes"
if cnic_status=="yes":
    print("come inside")
    name_in_list=input("is your name in voter list?")
    if name_in_list=="yes":
        print("you can cast vote")
    else:
        print("you can not caste vote")
else:
    print("you can not cast vote")

# Logical operators :

In [ ]:
cnic_status=input("do u have a valid cnic  ").lower()
name_in_list=input("is your name in voter list? ").lower()
if (( cnic_status=="yes")and(name_in_list=="yes")):
    print("cast your vote")
else:
    print("u can't caste vote")

In [ ]:
marks=int(input("enter marks")) #& operator one condition true
grade=""
if marks>=90:
    grade="A+"
    print("your grade is ",grade)
elif marks>=80: 
    grade="A"
    print("your grade is ",grade)
elif marks>=70: 
    grade="B"
    print("your grade is ",grade)
elif marks>=60: 
    grade="C"
    print("your grade is ",grade)
else:
   
    print("sorry u r fail")

In [ ]:
char=input("enter word").lower()
if (char =="a" or char=="e" or char=="u" or char=="i" or char=="o"):
    print("the character is a vowel")
    
else:
    print("the character is a contant")

# LIST chptr 13:

In [ ]:
student1="pakistan" #list in python in other language called Array
student2="pakistan"
student3="pakistan" #its difficult to remembr to much variable 
#make a list
alist=["asad","ali","sad","waqas","zubair","qamar","oqais"]
len(alist)
alist[1]

In [ ]:
list2=["aple",1234,False,123.5] #list can hold multiple data types together
list2[1]

In [ ]:
list2[0]="oranges"
list2[0]

In [ ]:
del list2[3] #delt value from list by given index
list2

In [ ]:
list2.append(9) #.append adds value in the last

In [ ]:
list2

In [ ]:
list2

In [ ]:
list2.insert(1,"grapes") #insert values in the list

In [ ]:
list2

# 1st june 2019

# Sorting

In [ ]:
alist=['orange','apple','banana','peach','cherry']

In [ ]:
alist.remove('banana')

In [ ]:
alist

In [ ]:
sortList=[23,45,89,4,7,3]
sortList.sort() #for acsencding order
sortList

In [ ]:
sortList.sort(reverse=True) #by default reverse false
sortList

In [ ]:
newlist=['hamza','ali','hussain','x','z']
newlist.sort()
newlist #sort by alphabate

In [ ]:
blist=['x','A','bc','Xy','z']
blist.sort() #by default capital letter come first
blist

# pop

In [ ]:
clist=[23,789,56,4,78,84]
x=clist.pop() #stores last variable of list '84' in any variable and can hold the value and return also delet
print(clist)

In [ ]:
print(x)

In [ ]:
y=clist.pop(2)
print(y)

In [ ]:
blist=[12,13,14,15]
emptylist=[]

In [ ]:
emptylist.append(blist.pop()) #take the value from one list and put in other list 
print(emptylist) #it will give error when list will become empty

In [ ]:
a=[333,444,555,666,777,888,999]
b=[]

In [ ]:
if len(a)!=0: #to save from crash program we have to stop program when list will become empty
    b.append(a.pop())
    print(a)
    print(b)
else:
    print("list is empty now cant not pop")

# For copy

In [ ]:
c=b #pass by reference

In [ ]:
print(c)

In [ ]:
del c[2]
c

In [ ]:
d=c.copy()
d

In [ ]:
del d[2]
d

# Slicing

In [ ]:
d

In [ ]:
d[2]

In [ ]:
d[1:4] #to get three values at a time e.g 888, 666, 555,
#the direction of slice is always from left to right

In [ ]:
d[4:1] #it is always take from left to right index other wise give empty set

In [ ]:
d[1:4] #last value will not be consider because by default index (n-1)

In [ ]:
d=[111,222,333,444,555,6666,7777,888,88]
d

In [ ]:
d[1:8:2] #last wala 2 is used for gap

# Reverse indexing

In [ ]:
#frwd index  0      1       2      3       4          5   
cities=["khi","quetta",'lhr','multan','peshawr','pindi','isl'] 
#index   -7     -6       -5     -4       -3       -2      -1

In [ ]:
cities[6]

In [ ]:
cities[-1]

In [ ]:
cities[-4:-1]

In [ ]:
cities[:5]

In [ ]:
cities[3:]

In [ ]:
#frwd index  0      1       2      3       4          5   
cities=["khi","quetta",'lhr','multan','peshawr','pindi','isl'] 
#index   -7     -6       -5     -4       -3       -2      -1

In [ ]:
cities[-5:4]

In [ ]:
cities[-5:0] #always go left to right

# Tupple
#15 june 2016

In [ ]:
mytupple=(1,2,3,4,5,6)

In [ ]:
mytupple

In [ ]:
mytupple[:4]

In [ ]:
#Packing
cities=("karachi","lhr","isl")

In [ ]:
cities

#unpack                    #combinig two indexes e.g largest as karachi & smaller as isl
largest,bigger,smaller=cities

In [ ]:
cities

In [ ]:
smaller

# For Loop
#Task print your name 10 time

In [ ]:
# starting point by default 0 to n-1
for a in range(10):
    print("Arsalan")

In [ ]:
for a in range(10):
    print(a,"Arsalan")

In [ ]:
# by using two position
for a in range(5,10):
    print(a,"Arsalan")

In [ ]:
for a in range(0,10,2): # last wala 2 is used for stepping means 2 ka sequence
    print(a,"Arsalan")

In [ ]:
for a in range(1,10,2):
    print(a,"Arsalan")

In [ ]:
for a in range(10,0,-1): # for reverse function we should also give -ve steps e.g -1
    print(a,"Arsalan")

# 3 ka Table

In [ ]:
for a in range(1,11):
    b=a*3
    print(3,"X",a,"=",b)

In [ ]:
for name in ["khi","lhr","multan"]:
    print(name)

In [ ]:
for character in "string":
    print(character)

In [ ]:
# pass, Break and continue

In [ ]:
for a in range (10):
    if a==5:
        break
    print(a)

In [ ]:
frnds=["a","b",'c','d','e','f','g']
for frnd in frnds:
    if frnd!="e":
        print("continue and enjoy party")

    else:
        print("party is ovr")
        break #breaks the loop other wise loop will  agian start

In [ ]:
frnds=["a","b",'c','d','e','f','g']
for frnd in frnds:
    if frnd!="e":
        print("continue and enjoy party")

    else:
        print("party is ovr")
        continue

In [ ]:
x = input("Enter name : ").lower()
for a in x:
    if x =="faris":
        print("party ovr")
        break
    else:
        print("party is on")
        break

In [ ]:
n = int(input("Enter value:  "))
for a in range(1,11):
   
    print(n,"x",a,"=",a*n)

# Nested Loop

In [ ]:
for table in range(3,10,2):
    print("Table of ",table,"\n")
    for num in range(1,11):
        print(table,"x",num,"=",table*num)

# Dictionary

In [ ]:
#for dictionary we use { } brackets

In [ ]:
myDic={}

In [ ]:
len(myDic)

In [ ]:
myDic ={a:"PIAIC"}

In [ ]:
myDic[a]

In [ ]:
mydic={"name":"Arsalan","age":'22',"uni":"ssuet","place":"london"}

In [ ]:
mydic["name"]

In [ ]:
# methods in Dic are keys(), values(), items()

In [ ]:
for k,v in mydic.items(): #.items( methods return two variable thats y we use k & v) in first value key will save 
    #& in 2nd value v will save
    print(f"the keys is {k} and the value is this {v}")

In [ ]:
for k in mydic.keys():
    print(k)

In [ ]:
for v in mydic.values():
    print(v)

# List in list

In [ ]:
a=[11,22,33,44]
b=[55,66,77,88]
c=["apple","orange",a,b]

In [ ]:
c

In [ ]:
c[2]

In [ ]:
c[3][2] #we need to aproad [55,66,77,88] at "77" in B so we use c[3][2] 3 for index  3  in C at index and 2 for index 2 in Bb

In [ ]:
c[2][3]

In [ ]:
c[3][1:4]

In [ ]:
del c[3][1]

In [ ]:
c #66 is deleted

In [ ]:
c.remove('orange')

In [ ]:
c #another method of deleting # orange is deleted

In [ ]:
c[2].remove(44)

In [ ]:
c #44 is deleted in from "a"

In [ ]:
list in list
dict in list
tuple in list
list in dic
tuple in dic
#tuple in tuple
#list in tuple
#dic in tuple

In [ ]:
aa=[11,22,33,mydic] #dic in list
aa

In [ ]:
aa[3]["age"]

In [ ]:
del aa[3]["age"]
aa

# tuple in list do it your self

In [79]:
#list in dictionary
dd={'names':['a','b','c','d','e','f','g','h','t']}

In [80]:
dd['names']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 't']

In [81]:
dd['names'][4]

'e'

In [83]:
dd['names'].remove(f)

NameError: name 'f' is not defined

# Functions #args *kargs

In [90]:
def car(model,make,*specs):
    print(model,make)
    print(specs)

In [91]:
car(2010,'toyota','alloy rim','tape','power window')

2010 toyota
('alloy rim', 'tape', 'power window')

In [92]:
car(2010,'toyota','automatic')

2010 toyota
('automatic',)

In [93]:
car(2015,'honda civic',['alloyrim','tape','power windows'])

2015 honda civic
(['alloyrim', 'tape', 'power windows'],)

In [104]:
def pizza(name,size,*toppings):
    print("name\n",name,"\nSize\n",size)
    print(toppings)

In [110]:
pizza('jalepino','large','mushroom','peproni','cheese','ketchup')

name
 jalepino
Size
 large
('mushroom', 'peproni', 'cheese', 'ketchup')

In [147]:
def pizza_order(name,size,flavour,*toppings):
    print("order is given by",name)
    print("size of piza",size)
    print("flavour of pizza ",flavour)

    for topping in toppings:
        print(topping)

In [148]:
  pizza_order('Arsalan','large','mushroom','cheese','ketchup')

order is given by Arsalan
size of piza large
flavour of pizza  mushroom
cheese
ketchup

In [150]:
def sub():
    y=3+5
    return y

# commision calculator

In [152]:
def salary(basic,commision):
    total=basic+commision
    print(f"your salary is: {total}")

In [153]:
def commisioncalc(sales):
    if sales>=100000:
        percent=30
    elif sales>=50000:
        percent=20
    elif sales>=30000:
        percent>=10
    elif sales>=10000:
        percent=5
    else:
        percent=o
    commision = (sales/100)*percent
    return commision

In [154]:
salary(25000,commisioncalc(50000))

your salary is: 35000.0

In [159]:
basic=int(input("Enter you basic salar"))
commision=int(input("Entr commision"))

Enter you basic salar22
Entr commision10000

In [163]:
def end(salary,commisioncalc):
    print(end)

In [189]:
fruit = "Apple" #global
def alocal():
    a=100 # local
    fruit="orange" #global
    print(fruit)
    print(a)

In [190]:
alocal()

orange
100

In [191]:
print(fruit)

Apple

In [192]:
#Accessing local variable outdie the function body

In [193]:
def alocal():
    global a
    
    a = 100
    
    fruit='orange'
    print(fruit)
    print(a)

In [194]:
alocal()
print(fruit)

orange
100
Apple

In [195]:
fruit

'Apple'

In [196]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [198]:
a=0
while a<10:
    print(a)
    a+=2

0
2
4
6
8

In [1]:
for name in range(5):
    name=input("Entr name")
    print(name)

Entr namea
a
Entr namea
a
Entr namev
v
Entr names
s
Entr names
s

In [6]:
flag = True 
while flag:
    name =(input("Entr name or type exit to quit"))
    print(name)
    if name =="exit":
        flag = False

Entr name or type exit to quitarsalan
arsalan
Entr name or type exit to quita
a
Entr name or type exit to quitexit
exit